html{
  scroll-behavior: smooth;
}

body {
  overflow: overlay;
}

.div1 {
  background: grey;
  margin-top: 200px;
  margin-bottom: 20px;
  height: 20px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#main{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0;
  margin:0;
}

#header{
    position:sticky;
    top:0;
    bottom: 0;
    text-align: center;
    width:100%;
    background-color: black;
    padding:1vh 4vw 3vh;
    z-index:10;
}

#nav{
    width:100%;
    display:flex;
    justify-content: center;
    align-content:center;
}

#navbar{
    width: 100%;
    padding-top:1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap:0.5rem
}

#navbar a li{
    list-style-type: none;
}

#navbar a{
    text-decoration: none;
    display: inline-block;
    color:#aaa;
    border-bottom: 2px solid #aaa;
    padding:0 .5rem .5rem
}

#img-div{
    width:100%;
    margin:0;
    background-color: black;
}

#img-caption{
    position:sticky;
    top:0;
    color:#999;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

#img-caption a{
  display:block;
  text-decoration: none;
  color:white;
}

#image-section a figcaption{
    position: sticky;
    top:0px;
    padding:.5rem;
    text-align: center;
}

#image{
    display:block;
    max-width: 100%;
    height: auto;
}

#tribute-info div{
    min-height: 100vh;
    max-width: 50em;
    padding:20vh 1.5rem;
    line-height: 1.5;
    border-top: 1px solid #ddd;
    margin-top:3rem;
}

#tribute-info div:last-child{
    min-height: 80vh;
    max-width: 50em;
    padding:20vh 1.5rem;
    line-height: 1.5;
}

#tribute-info div p{
    margin-block-start: 0px;
    margin-inline-start: 0rem;
    text-indent: 1.2rem;
    line-height: 1.5;
    margin-top: .5rem;
    text-align: justify;
}

#tribute-info div p::first-line{
    text-indent: 1rem;
}

#top{
    text-decoration: none;
    color:rgb(250,250,250);
    font-size: 3vh;
}

#tribute-info div ul{
    padding-left: 2rem;
    margin:1rem;
}

#tribute-info div ul li{
    padding-left: .5rem;
    margin:.5rem;
}




blockquote{
    font-style: italic;
    text-align: left;
    font-size: .9rem;
    margin:1.5rem 1rem;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: #eee;
    color:#666;
}



h2{
    margin-top:.5rem;
}

footer{
    display:block;
    width:100%;
    text-align: center;
    font-weight: 500;
    font-size: smaller;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding: 1rem;
    background-color: #eee;
    margin-bottom:0;
}

.red{
    color:red;
}

#redes{
    font-weight: bolder;
    color:#000;
}



@media screen and (min-width:500px) {
    #navbar{
        width: 70%;
    }
}

@media screen and (min-width:850px) {

    #navbar{
        width: 60%;
    }

    #tribute-info div:first-child,
    #tribute-info div:nth-child(2)
    {
        margin-top:30vh;
    }

    #creditos{
        width:200%;
        grid-column: span 2;
        margin: auto auto;
    }

    #tribute-info{
        display:grid;
        grid-template-columns: auto auto;
        flex-wrap: wrap;
    }
    #tribute-info div{
        padding-top: 20vh;
        padding-left: 10%;
        padding-right: 10%;
    }

    #tribute-info div:nth-child(even){
        border-left: 1px solid #ddd;
    }
}

@media screen and (min-width:1600px){

    #navbar{
        width: 50%;
    }    

    #tribute-info div:first-child,
    #tribute-info div:nth-child(2)
    {
        margin-top:50vh;
    }
}

@media screen and (max-height:450px){
    #tribute-info div{
        padding-top: 25vh;
    }
    #tribute-info div:last-child{
        padding:25vh 1.5rem;
    }
}
